GEMINI_API_KEY=AIzaSyBtNOt97cXmrBjBaMZdpWX6Wl382xvpk2Y
GITHUB_TOKEN=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
GITHUB_REPO=Ubaid-Ali04/launchmind-agentic-system
SLACK_BOT_TOKEN=xoxb-10801505227970-10814433124497-Bbod7euuZhNrLAXCzwePhWjb
SLACK_CHANNEL=#launches
SENDGRID_API_KEY=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
EMAIL_FROM=ubaidali24i8050@gmail.com
EMAIL_TO=ubaidali24i8050@gmail.com